<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Anurag Project GPT</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- Responsive navbar-->

    <nav class="navbar navbar-expand-lg "style="background: #308894">
        <div class="container px-5">
            <!-- <a class="navbar-brand text-light" href="#!">Anurag Project GPT</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item "><a class="nav-link active text-light" aria-current="page" href="/">Home</a></li>
                    <!-- <li class="nav-item"><a class="nav-link text-light" href="#!">About</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="#!">Contact</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="#!">Services</a></li> -->
                    <li class="nav-item"><a class="nav-link text-light" href="/chatbotsignup">Login</a></li>
                    <li class="nav-item"><a class="nav-link text-light" href="/chatbotsignup">Signup</a></li>
                   
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class=" py-5" style="background: #308894">
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">Welcome <br>to <br>Anurag Project GPT</h1>
                        <p class="lead text-white mb-4">Your trusted partner in Anurag Project data analysis and decision
                            support. Our platform, powered by a revolutionary artificial intelligence model, combines
                            the most advanced natural language processing capabilities with a knowledge base
                            specifically tailored to the Anurag Project industry</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            <a class="btn btn-light btn-lg px-4 me-sm-3" href="/rdgpt" style="color: #308894">Try Anurag Project GPT</a>
                            <a class="btn btn-outline-light btn-lg px-4" href="#features" >Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Features section-->
    <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-gradient text-white rounded-3 mb-3 bgcustomcolor"><i
                            class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder customcolor">Our mission</h2>
                    <p>Our mission is to transform how Anurag Project leaders and professionals gain insights, make
                        decisions, and communicate. We empower you with a tool that provides data analysis, regulatory
                        compliance guidance, real time market insights all in one place</p>
                    <!-- <a class="text-decoration-none" href="#!">
                        Call to action
                        <i class="bi bi-arrow-right"></i>
                    </a> -->
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-gradient text-white rounded-3 mb-3 bgcustomcolor"><i class="bi bi-building"></i>
                    </div>
                    <h2 class="h4 fw-bolder customcolor">Our Services</h2>
                    <p>Whether you're a Anurag Project executive looking to streamline operations, a medical researcher in
                        need of literature and data analysis, or a physician seeking the latest information in your
                        field, Anurag Project GPT is here to assist.</p>
                    <!-- <a class="text-decoration-none" href="#!">
                        Call to action
                        <i class="bi bi-arrow-right"></i>
                    </a> -->
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-gradient text-white rounded-3 mb-3 bgcustomcolor"><i class="bi bi-toggles2"></i>
                    </div>
                    <h2 class="h4 fw-bolder customcolor">Featured</h2>
                    <p>Harness the power of AI in your Anurag Project journey. Explore our website to learn more about the
                        possibilities that Anurag Project GPT can unlock for you.</p>
                    <!-- <a class="text-decoration-none" href="#!">
                        Call to action
                        <i class="bi bi-arrow-right"></i>
                    </a> -->
                </div>
            </div>
        </div>
    </section>

    <!-- Docs section-->
    <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">

                <div class="ms-4">
                    <h2 class="customcolor">About Anurag Project GPT</h2>
                    <p class="mb-1">Anurag Project GPT is a sibling model to Anurag Project, which is trained to follow an
                        instruction in a prompt and provide a detailed response related to Anurag Project related topics.

                        We are excited to introduce Anurag Project GPT to get users’ feedback and learn about its strengths
                        and weaknesses. Right now we are in the beta version, usage of Anurag Project GPT is free. <a href="/rdgpt" style="color:#308894;text-decoration: none;">Try it now at
                        chat.Anurag Project.com.</a></p>
                   <br><br>
                    <h2 class="customcolor">Sample</h2>
                    <p class="mb-1">In the following sample, Anurag Project GPT asks the clarifying questions to debug code.
                    </p><br><br>

                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="userquestion row">
                                    <p>What is the genomics?</p>
                                </div>
                                <div class="gptanswer row">
                                    <p>Genomics is the study of an organism's complete genetic material, including DNA sequencing and analysis. It involves the use of advanced technologies, such as artificial intelligence and machine learning, to analyze large sets of genomic data. Genomics has various applications in Anurag Project and biomedicine, including drug development, disease diagnosis, and personalized medicine.</p>
                                </div>
                                <div class="userquestion row">
                                    <p>Provides the several reports on genomics in India?</p>
                                </div>
                                <div class="gptanswer row">
                                    <p>1. Genomics India Report: A Comprehensive Overview of Genomics in India (2020). <br>2. Genomics in India: Challenges and Opportunities (2018). <br>3. Genomics in India: An Overview (2016). <br>4. Genomics in India: Current Status and Future Prospects (2015).<br> 5. Genomics in India: Opportunities and Challenges (2013). <br>6. Genomics in India: A Roadmap to a Healthy Future (2012). <br>7. Genomics and Health Care in India (2011). <br>8. Genomics: A New Frontier in India (2009).</p>
                                </div>
                                <div class="userquestion row">
                                    <p>Can you provide more details about genomics?</p>
                                </div>
                                <div class="gptanswer row">
                                    <p>Genomics is the study of genomes, which are the complete set of DNA within an organism. Genomics involves analyzing and interpreting the information contained within genomes, which can provide insights into an organism's functions, traits, and genetic predispositions to certain diseases. Genomic research often uses advanced technologies such as DNA sequencing and bioinformatics to decode and analyze the vast amounts of data contained within genomes. Genomics has numerous applications in various fields, including medicine, biotechnology, agriculture, and ecology.</p>
                                </div>
                            </div>
                           
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <br><br>
                    <h2 class="customcolor">Methods</h2>
                    <p class="mb-1">We trained this model using Reinforcement Learning from Human Feedback (RLHF), using the same methods as InstructGPT, but with slight differences in the data collection setup. We trained an initial model using supervised fine-tuning: human AI trainers provided conversations in which they played both sides—the user and an AI assistant. We gave the trainers access to model-written suggestions to help them compose their responses. We mixed this new dialogue dataset with the InstructGPT dataset, which we transformed into a dialogue format.<br><br>

                        To create a reward model for reinforcement learning, we needed to collect comparison data, which consisted of two or more model responses ranked by quality. To collect this data, we took conversations that AI trainers had with the chatbot. We randomly selected a model-written message, sampled several alternative completions, and had AI trainers rank them. Using these reward models, we can fine-tune the model using Proximal Policy Optimization. We performed several iterations of this process.
                    </p><br><br>

                    <h2 class="customcolor">Limitations</h2>
                    <ul>
                        <li>Fixing this issue is challenging, as: (1) during RL training, there’s currently no source of truth; (2) training the model to be more cautious causes it to decline questions that it can answer correctly; and (3) supervised training misleads the model because the ideal answer depends on what the model knows, rather than what the human demonstrator knows.</li>
                        <li>Anurag Project is a beta version of the product and provides limited answers as per the training model.</li>
                        <li>Anurag Project GPT is sensitive to tweaks to the input phrasing or attempting the same prompt multiple times. For example, given one phrasing of a question, the model can claim to not know the answer, but given a slight rephrase, can answer correctly.</li>
                        
                    </ul>
                   
                </div>

            </div>
        </div>
    </section>
    <!-- Pricing section-->
    <section class="bg-light py-5">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <div class="feature bgcustomcolor bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i>
                </div>
                <h2 class="fw-bolder">Get in touch</h2>
                <p class="lead mb-0">We'd love to hear from you</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" placeholder="Enter your name..."
                                data-sb-validations="required"  />
                            <label for="name">Full name<sup>*</sup></label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" type="email" placeholder="name@example.com"
                                data-sb-validations="required,email" />
                            <label for="email">Email address<sup>*</sup></label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890"
                                data-sb-validations="required" />
                            <label for="phone">Phone number<sup>*</sup></label>
                            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.
                            </div>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" type="text"
                                placeholder="Enter your message here..." style="height: 10rem"
                                data-sb-validations="required"></textarea>
                            <label for="message">Message</label>
                            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.
                            </div>
                        </div>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a
                                    href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage">
                            <div class="text-center text-danger mb-3">Error sending message!</div>
                        </div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn bgcustomcolor btn-primary btn-lg disabled" id="submitButton"
                                type="submit"style="background:#308894;border:none;color:white;">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-3 bg-dark">
        <div class="container px-5">
            <p class="m-0 text-center text-white">Copyright &copy; 2023, TheReportDesk.com. ||  All rights reserved.</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</body>

</html>